<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML>
<style type="text/css">
  body { margin-left: +10%; margin-right: +10%; }
  h1 { margin-left: -8%;}
  h2,h3,h4,h5,h6 { margin-left: -4%; }
  table {
	 margin-left: -4%
	 font-family: sans-serif;
	 background: white;
	 border-width: 2;
	 border-color: white;
  }
th { font-family: sans-serif; background: #3366ff ; color: #ffff99}
td { font-family: mono-space; background: #ccffcc }
</style>
</HTML>

