#___________________________________________________________________[MBSSETUP]
#/////////////////////////////////////////////////////////////////////////////
# Name             mbssetup.tmpl
# Purpose:         Default settings to be used by TMbsSetup
# Author:          MARaBOU
# Revision:        $Id: mbssetup.tmpl,v 1.5 2009/04/30 10:46:20 Rudolf.Lutter Exp $
# Date:            $Date: 2009/04/30 10:46:20 $
# URL:             
#/////////////////////////////////////////////////////////////////////////////

TMbsSetup.Info.File:							mbssetup_default
TMbsSetup.Info.Title: 							Default MBS Setup Data
TMbsSetup.Info.Created: 						Fri Sep  3 13:18:14 1999
TMbsSetup.Info.Modified:						Mon Mar 15 10:13:00 2004
TMbsSetup.MbsVersion:
TMbsSetup.LynxVersion:
TMbsSetup.TemplatePath: 						$MARABOU/templates/mbssetup
TMbsSetup.HomeDir:
TMbsSetup.Path:
TMbsSetup.EvtBuilder.Name:
TMbsSetup.EvtBuilder.Address:
TMbsSetup.EvtBuilder.Type:
TMbsSetup.EvtBuilder.Crate:						0
TMbsSetup.EvtBuilder.NofStreams:				8
TMbsSetup.EvtBuilder.NofBuffers:				8
TMbsSetup.EvtBuilder.BufferSize:				0x4000
TMbsSetup.EvtBuilder.FlushTime:					1
TMbsSetup.EvtBuilder.VSBAddr:
TMbsSetup.MaxReadouts:							2
TMbsSetup.NofReadouts:							0
TMbsSetup.Mode:
TMbsSetup.Readout$rdoNo.Name:
TMbsSetup.Readout$rdoNo.Address:
TMbsSetup.Readout$rdoNo.Type:
TMbsSetup.Readout$rdoNo.Path:						vme$rdoNo
TMbsSetup.Readout$rdoNo.Crate:						0
TMbsSetup.Readout$rdoNo.CratesToBeRead:				1
TMbsSetup.Readout$rdoNo.Controller:
TMbsSetup.Readout$rdoNo.SourceCode:				
TMbsSetup.Readout$rdoNo.RdPipeBaseAddr:                
TMbsSetup.Readout$rdoNo.RemoteMemoryBase:
TMbsSetup.Readout$rdoNo.RemoteMemoryOffset:
TMbsSetup.Readout$rdoNo.RemoteMemoryLength:
TMbsSetup.Readout$rdoNo.RemoteCamacBase:
TMbsSetup.Readout$rdoNo.RemoteCamacOffset:
TMbsSetup.Readout$rdoNo.RemoteCamacLength:
TMbsSetup.Readout$rdoNo.LocalEsoneBase:
TMbsSetup.Readout$rdoNo.LocalMemoryBase:
TMbsSetup.Readout$rdoNo.LocalMemoryLength:
TMbsSetup.Readout$rdoNo.LocalPipeBase:
TMbsSetup.Readout$rdoNo.LocalPipeOffset:
TMbsSetup.Readout$rdoNo.LocalPipeSegmentLength:
TMbsSetup.Readout$rdoNo.LocalPipeLength:
TMbsSetup.Readout$rdoNo.VSBAddr:
TMbsSetup.Readout$rdoNo.TriggerModule.Type:
TMbsSetup.Readout$rdoNo.TriggerModule.Mode:				LOCAL-INT(0)
TMbsSetup.Readout$rdoNo.TriggerModule.ConvTime:			500
TMbsSetup.Readout$rdoNo.TriggerModule.FastClearTime:	20
TMbsSetup.Readout$rdoNo.TriggerModule.Base:
TMbsSetup.Readout$rdoNo.SevtSize:						2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger1:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger2:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger3:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger4:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger5:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger6:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger7:				2048
TMbsSetup.Readout$rdoNo.SevtSize.Trigger8:				2048
