#___________________________________________________________________[MBSSETUP]
#/////////////////////////////////////////////////////////////////////////////
# Name             mbssetup.rc
# Purpose:         Different addr/length settings depending on MBS, CPU etc.
# Author:          MARaBOU
# Revision:        $Id: mbssetup.rc,v 1.9 2011/01/27 12:49:09 Marabou Exp $
# Date:            $Date: 2011/01/27 12:49:09 $
# URL:
#/////////////////////////////////////////////////////////////////////////////

# Format:
# <LynxVersion>-<MbsVersion>-<Mode>-<CpuType>-<ContrType>.<Resource>:	<Value>
#
# LynxVersion:    2.5, 3.1, 4.0 ...
# MbsVersion:     2.2, 4.2, 4.3, 4.5, 5.0 ...
# Mode:           SP, MB (single proc, multi branch)
# CpuType:        RIO2, RIO3, RIO4
# ContrType:      CBV, CC32 (camac)
#                 CAMAC, VME (trigger module)
#                 EVB, RDO (event builder / readout)
# Resource:       resource name used in TMbsSetup.cxx

*-*-*-*-*.RdPipeBaseAddr: 				0xd0000000

*-*-*-*-CBV.RemoteMemoryBase:			0xd0380000
*-*-*-*-NoCamac.RemoteMemoryBase:		0x0
*-*-*-RIO2-CC32.RemoteMemoryBase:		0xee550000
*-*-*-RIO3-CC32.RemoteMemoryBase:		0x4f550000

*-*-*-*-*.RemoteMemoryOffset:  		0x0

*-*-*-*-NoCamac.RemoteMemoryLength: 	0x0
*-*-*-*-CBV.RemoteMemoryLength: 		0x00200000
*-*-*-*-*.RemoteMemoryLength: 			0x00008000

*-*-*-*-NoCamac.RemoteCamacBase:		0x0
*-*-*-*-CBV.RemoteCamacBase:			0xd0380000
*-*-*-RIO2-CC32.RemoteCamacBase:		0xee550000
*-*-*-RIO3-CC32.RemoteCamacBase:		0x4f550000

*-*-*-*-*.RemoteCamacOffset: 			0x0

*-*-*-*-NoCamac.RemoteCamacLength: 	0x0
*-*-*-*-CBV.RemoteCamacLength: 		0x00200000
*-*-*-*-CC32.RemoteCamacLength: 		0x00008000

*-*-*-*-*.LocalEsoneBase:	 			0x0

*-*-*-*-NoCamac.LocalMemoryBase: 		0x0
*-*-*-*-CBV.LocalMemoryBase: 			0xe2000000
*-*-*-RIO2-CC32.LocalMemoryBase: 		0xee550000
*-*-*-RIO3-CC32.LocalMemoryBase: 		0xe2000000
*-*-SP-RIO4-*.LocalMemoryBase:	 		0x52000000

*-*-*-*-*.LocalMemoryLength:			0x00001000

*-*-SP-RIO2-*.LocalPipeBase:	 		0x01000000
*-*-SP-RIO3-*.LocalPipeBase:	 		0x04000000
*-*-SP-RIO4-*.LocalPipeBase:	 		0x08000000
*-*-SP-*-*.LocalPipeBase:	 			0x02000000

*-*-*-*-*.LocalPipeOffset:	 			0x0

*-*-SP-RIO4-*.LocalPipeSegmentLength:	0x0c000000
*-*-SP-RIO3-*.LocalPipeSegmentLength:	0x02000000
*-*-SP-*-*.LocalPipeSegmentLength:	 	0x00100000

*-*-SP-*-*.LocalPipeType:				0

*-*-SP-*-*.LocalPipeLength:		 	100

*-*-*-RIO2-VME.TriggerModuleBase:		0xe2000000
*-*-*-RIO3-VME.TriggerModuleBase:		0x42000000
*-*-*-RIO4-VME.TriggerModuleBase:		0x52000000

*-*-*-RIO2-*.SubeventLength:			2048
*-*-*-RIO3-*.SubeventLength:			8096
*-*-*-RIO4-*.SubeventLength:			10144

*-*-*-*-EVB.VSBAddr:						0xf5000000
*-*-*-*-RDO.VSBAddr:						0xf0000000
